.noto-sans {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.material-symbols-outlined {
    color: white;
}

.musicas {
    width: 20%;
    height: 100vh;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.song-display {
    background: #4e4b4b;
    width: 400px;
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
}

.musMenu {
    height:25px;
    position: absolute;
    width: 42vh;
    margin-top: 125px;
    display:flex;
    justify-content: space-evenly;
    background: #212121;
}

.dbButtons {
    border-radius: 50%;
    background: #000000;
    box-shadow: 0 5px 10px #000000;
}

.songImg {
    width: 100px;
    height: 100px;
    border-radius: 30%;
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
}

.songInfo {
    color: white;
    width: 100px;
    height: 10px;
    margin-left: 120px;
    position: absolute;
    font-family: "Noto Sans", serif;
    font-size: 20px;
}

.inline-icon {
    vertical-align: center;
    font-size: 18px !important;
}

#title {
    margin-top: 15px; 
}

#artist {
    margin-top: 50px;
}

#duration {
    margin-top: 85px;
}

.audio {
    display: flex;
    position: fixed;
    height: 45px;
    width: 100%;
    bottom:0;
    z-index:2;
    border: 1px solid red;
}

#progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 6px;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

#progress::-webkit-slider-thumb #progress::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #000000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px red;
}